.first{
    background-color: purple;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second{
    background-color: black;
    color: orange;
    text-decoration: underline;
}
.third{
    background-color: lime;
    color: blue;
    font-size: 300%;
}
.fourth{
    background-color: red;
    color: blue;
    text-decoration: dashed;
}