span, h1{
    border: 1px solid black;
    background-color: limegreen !important;
}
p{
    color: red;
}
p{
    color: blue;
}
.outer{
    border: 10px solid black;
}
.box{
    padding: 30px;
    width: calc(90% - 60px);
    background-color: rebeccapurple;
    color: white;
}